body {
  background-color: #d2c1f5;
}

.logo {
  width: 180px;
  height: 50px;
  padding: 10px;
}

input {
  padding: 10px 25px;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  border: 0px;
  width: max-content;
  margin: 2%;
  transition: all 0.3s 0s ease-in-out;
}

input:hover {
  transform: scale(1.04, 1);
  background-color: blueviolet;
  text-decoration: none;
  color: white;
}

a {
  text-decoration: none;
  font-size: 16px;
  font-family: 'Playfair Display', serif;
  color: black;
}

a:hover {
  color: #6333c4;
}

.header-links {
  display: flex;
  flex-direction: row;
  line-height: 4;
  font-size: 16px;
  justify-content: space-around;
}

.book-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  float: left;
  padding: 3%;
}

.book-card-img {
  width: 130px;
  height: 190px;
}

.book-detail-container {
  display: flex;
  flex-direction: column;
  padding: 5%;
}

.detail-img {
  height: 400px;
  width: 330px;
  margin: 1%;
}

.detail-title {
  margin: 1%;
  font-size: 20px;
  font-family: 'Playfair Display', serif;
  font-weight: bold;
}

.detail-author {
  margin: 1%;
  font-size: 20px;
  font-family: 'Playfair Display', serif;
  font-weight: bold;
}

.detail-published {
  margin: 1%;
  font-size: 20px;
  font-family: 'Playfair Display', serif;
  font-weight: bold;
}

.author-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  float: left;
  padding: 3%;
}

.author-card-img {
  width: 130px;
  height: 190px;
}

.author-card {
  display: flex;
  flex-direction: column;
}

.author-name {
  margin: 1%;
  font-size: 12px;
  font-family: 'Playfair Display', serif;
  font-weight: bold;
}

.author-detail-container {
  display: flex;
  flex-direction: column;
  padding: 5%;
}

.detail-name {
  margin: 1%;
  font-size: 20px;
  font-family: 'Playfair Display', serif;
  font-weight: bold;
}

.detail-bio {
  margin: 1%;
  font-size: 20px;
  font-family: 'Playfair Display', serif;
}

.homepage-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Playfair Display', serif;
  font-size: 20px;
  margin: 5%;
}

.message {
  font-size: 24px;
  font-weight: bold;
}

.home-title {
  margin: 2%;
}

.add-book-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4%;
}

.add-author-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4%;
}

.submit-book {
  padding: 10px 25px;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  border: 0px;
  width: max-content;
  margin: 2%;
  transition: all 0.3s 0s ease-in-out;
}

.submit-book:hover {
  transform: scale(1.04, 1);
  background-color: blueviolet;
  text-decoration: none;
  color: white;
}

.edit-book {
  padding: 10px 25px;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  border: 0px;
  width: max-content;
  margin: 2%;
  transition: all 0.3s 0s ease-in-out;
}

.edit-book:hover {
  transform: scale(1.04, 1);
  background-color: blueviolet;
  text-decoration: none;
  color: white;
}

.cancel-button {
  padding: 10px 25px;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  border: 0px;
  width: max-content;
  margin: 2%;
  transition: all 0.3s 0s ease-in-out;
}

.cancel-button:hover {
  transform: scale(1.04, 1);
  background-color: blueviolet;
  text-decoration: none;
  color: white;
}

.delete-button {
  padding: 10px 25px;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  border: 0px;
  width: max-content;
  margin: 2%;
  transition: all 0.3s 0s ease-in-out;
}

.delete-button:hover {
  transform: scale(1.04, 1);
  background-color: blueviolet;
  text-decoration: none;
  color: white;
}

.edit-button {
  padding: 10px 25px;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  border: 0px;
  width: max-content;
  margin: 2%;
  transition: all 0.3s 0s ease-in-out;
}

.edit-button:hover {
  transform: scale(1.04, 1);
  background-color: blueviolet;
  text-decoration: none;
  color: white;
}